package pages

import (
	"dreampic/templates/layouts"
	"dreampic/types"
)

templ SettingsPage(user types.AuthenticatedUser) {
	@layouts.App("Settings page", true) {
		<div class="">Hello world settings</div>
		<h1>{ user.Email }</h1>
	}
}
